__pycache__/
*.py[cod]
*$py.class

env/
venv/
ENV/

*.sqlite3
db.sqlite3
media/
staticfiles/

Customers/migrations/
Items/migrations/
Orders/migrations/

.env

.history/
../.history/

.vscode/
.idea/

.DS_Store
Thumbs.db

*.log
.cache/
.pytest_cache/





**/__pycache__/
*.py[cod]

lvndry/db.sqlite3
lvndry/media/
lvndry/staticfiles/

lvndry/Customers/migrations/
lvndry/Items/migrations/
lvndry/Orders/migrations/

**/.history/

.env
.vscode/
.idea/
*.log