{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
<meta charset="UTF-8">
<title>پذیرش مشتریان</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.rtl.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>
<body>
  {% include 'front/header.html' %}
  {% include 'front/popup.html' %}


<div class="container mt-4">
  <a href="{% url 'admin_home_page' %}" class="btn-back">بازگشت</a>

  <div id="message" class="message"></div>

  <h2>ثبت سفارش جدید</h2>

  <div class="order-invoice-container">
    <form id="createOrderForm">
      شماره تلفن مشتری:
      <input type="text" name="phone" placeholder="مثلاً 09123456789" required><br>
      <button type="button" id="checkCustomerBtn">بررسی مشتری</button>
      <br>
      <div id="checkCustomerMessage" style="color:red;"></div>
      نام مشتری:
      <input type="text" name="fullname" placeholder="نام مشتری (اختیاری)"><br>
      آدرس مشتری:
      <input type="text" name="address" placeholder="آدرس مشتری (اختیاری)"><br>

      <div id="itemsContainer"></div>
      <button type="button" id="addItemBtn">➕ اضافه کردن آیتم</button><br><br>
  
      تخفیف کل (اختیاری):
      <select id="discountSelect">
        <option value="0">بدون تخفیف</option>
      </select><br>
  
      مبلغ قابل پرداخت:
      <input type="number" id="grandTotal" readonly><br>
  
      <button type="submit">ثبت سفارش</button>
    </form>
      <div id="invoiceContainer">
      <h2>پیش فاکتور</h2>
      <table id="invoiceTable">
        <thead>
          <tr>
            <th>#</th>
            <th>لباس</th>
            <th>خدمت</th>
            <th>خدمات اضافی</th>
            <th>تعداد</th>
            <th>قیمت واحد</th>
          </tr>
        </thead>
        <tbody id="invoiceItems">
        </tbody>
        <tfoot>
        </tfoot>
      </table>
      <hr>
      <div class="invoice-summery">
        <p><strong>قیمت قبل از تخفیف:</strong> <span id="invoiceBeforeDiscount">0</span> تومان</p>
        <p><strong>نوع تخفیف:</strong> <span id="invoiceDiscount">بدون تخفیف</span></p>
        <p><strong>قیمت قابل پرداخت:</strong> <span id="invoiceGrandTotal">0</span> تومان</p>
      </div>
    </div>
  </div>
  <hr>
  <h1>ثبت مشتری جدید</h1>
  <form id="registerCustomerForm">
    شماره تلفن:
    <input type="text" name="phone" placeholder="مثلاً 09123456789" required><br>

    نام مشتری:
    <input type="text" name="fullname" placeholder="نام مشتری (اختیاری)"><br>

    آدرس مشتری:
    <textarea name="address" rows="3" placeholder="آدرس مشتری (اختیاری)"></textarea><br>

    <button type="submit">ثبت مشتری</button>
  </form>

  <div id="customerMessage" class="message"></div>

  <link rel="stylesheet" href="{% static 'css/customer_acceptance.css' %}">
  <script src="{% static 'js/customer_acceptance.js' %}"></script>
</div>
</body>
</html>