{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
<meta charset="UTF-8">
<title>مدیریت خدمات و لباس‌ها</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.rtl.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>
<body>
  {% include 'front/header.html' %}
  {% include 'front/popup.html' %}


<div class="container mt-4">
<div id="message" class="message"></div>

<div id="menu" style="text-align:center; margin-bottom:30px;">
  <button onclick="scrollToSection('servicesSection')">خدمات</button>
  <button onclick="scrollToSection('clothesSection')">لباس‌ها</button>
  <button onclick="scrollToSection('extraServicesSection')">خدمات اضافی</button>
  <button onclick="scrollToSection('discountsSection')">تخفیف‌ها</button>
  <button onclick="scrollToSection('deleteditemsSection')">حذف شده ها</button>
</div>

<h2 id="servicesSection">مدیریت خدمات</h2>
<div class="form-container">
  <div class="box">
  <h4>افزودن خدمت</h4>
    <form id="addServiceForm">
      نام خدمت: <input type="text" name="name" required><br>
      ضریب قیمت: <input type="number" name="price_modifier" required><br>
      <button type="submit">➕ افزودن خدمت</button>
    </form>
  </div>

  <div class="box">
    <h4>ویرایش خدمت</h4>
    <form id="editServiceForm">
      ID خدمت : <input type="number" name="id" required><br>
      نام خدمت جدید: <input type="text" name="name"><br>
      ضریب قیمت جدید: <input type="number" name="price_modifier"><br>
      <button type="submit">✏️ ویرایش خدمت :</button>
    </form>
  </div>

  <div class="box">
    <h4>حذف خدمت</h4>
    <form id="deleteServiceForm">
      ID  خدمت برای حذف: <input type="number" name="id" required><br>
      <button type="submit">🗑️ حذف خدمت </button>
    </form>
  </div>
</div>

<div id="servicesListTitle"></div>
<div id="servicesList" class="gridContainer"></div>
<hr>

<h2 id="clothesSection">مدیریت لباس‌ها</h2>
<div class="form-container">
  <div class="box">
  <h4>افزودن لباس</h4>
    <form id="addClothForm">
      نام لباس: <input type="text" name="name" required><br>
      قیمت: <input type="number" name="base_price" required><br>
      <button type="submit">➕ افزودن لباس</button>
    </form>
  </div>

  <div class="box">
  <h4>ویرایش لباس</h4>  
    <form id="editClothForm">
      ID لباس: <input type="number" name="id" required><br>
      نام لباس جدید: <input type="text" name="name"><br>
      قیمت جدید: <input type="number" name="base_price"><br>
      <button type="submit">✏️ ویرایش لباس:</button>
    </form>
  </div>

  <div class="box">
  <h4>حذف لباس</h4>
    <form id="deleteClothForm">
      ID  لباس برای حذف: <input type="number" name="id" required><br>
      <button type="submit">🗑️ حذف لباس </button>
    </form>
  </div>
</div>
<div id="clothesListTitle"></div>
<div id="clothesList" class="gridContainer"></div>

<hr>
<h2 id="extraServicesSection">مدیریت خدمات اضافی</h2>
<div class="form-container">
  <div class="box">
    <h4>افزودن خدمت اضافی</h4>
    <form id="addExtraServicesForm">
      نام خدمت اضافی: <input type="text" name="name" required><br>
      قیمت خدمت اضافی: <input type="number" name="extra_fee" required><br>
      <button type="submit">➕ افزودن خدمت اضافی</button>
    </form>
  </div>

  <div class="box">
    <h4>ویرایش خدمت اضافی</h4>
    <form id="editExtraServicesForm">
      ID خدمت اضافی: <input type="number" name="id" required><br>
      نام جدید: <input type="text" name="name"><br>
      قیمت جدید: <input type="number" name="extra_fee"><br>
      <button type="submit">✏️ ویرایش خدمت اضافی:</button>
    </form>
  </div>
  <div class="box">
  <h4>حذف خدمت اضافی</h4>
    <form id="deleteExtraServicesForm">
      ID خدمت اضافی برای حذف: <input type="number" name="id" required><br>
      <button type="submit">🗑️ حذف خدمت اضافی</button>
    </form>
  </div>
</div>
<div id="extraservicesListTitle"></div>
<div id="extraservicesList" class="gridContainer"></div>

<hr>
<h2 id="discountsSection">مدیریت تخفیف‌ها</h2>

<div class="form-container">
  <div class="box">
    <h4>افزودن تخفیف‌</h4>
    <form id="addDiscountForm">
      نام تخفیف: <input type="text" name="name" required><br>
      درصد تخفیف: <input type="number" name="percent" required><br>
      <button type="submit">➕ افزودن تخفیف</button>
    </form>
  </div>

  <div class="box">
    <h4>ویرایش تخفیف‌</h4>
    <form id="editDiscountForm">
      ID تخفیف: <input type="number" name="id" required><br>
      نام جدید: <input type="text" name="name"><br>
      درصد جدید: <input type="number" name="percent"><br>
      <button type="submit">✏️ ویرایش تخفیف</button>
    </form>
  </div>
  
  <div class="box">
  <h4>حذف تخفیف</h4>
    <form id="deleteDiscountForm">
      ID تخفیف برای حذف: <input type="number" name="id" required><br>
      <button type="submit">🗑️ حذف تخفیف</button>
    </form>
  </div>
</div>
<div id="discountsListTitle"></div>
<div id="discountsList" class="gridContainer"></div>
<hr>

<h2 id="deleteditemsSection">مدیریت آیتم‌های حذف شده</h2>
<button id="showDeletedBtn">نمایش آیتم‌های حذف شده</button>
<div id="deletedItemsContainer" style="display:none;"></div>

<a href="{% url 'admin_home_page' %}" class="btn-back">بازگشت</a>

<link rel="stylesheet" href="{% static 'css/laundry_managment.css' %}">
<script src="{% static 'js/laundry_managment.js' %}"></script>

</div>
</body>
</html>